.login-container {
    display: fixed;
    margin-left:-28.5% ;
    margin-top: -2.75%;
    margin-bottom: -2.1%;
    margin-right: -28.5%;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    background-image: url(../assets/gray_line_drawings_of_organic_shapes_background.jpg),linear-gradient(to right, rgb(153, 53, 125), rgb(30, 6, 83));
    background-blend-mode:overlay;
    /* background-element: cover; */
    
  }
  h1 {
    justify-content: center;
    padding-top: 15%;
    -webkit-text-fill-color: black;
    font-size: 36px;
  }
  
  form {
    display: fixed;
    justify-content: center;
    align-items: center;
    margin-left: 42.3%;
    
    
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .password,.email{

    display: flex;
    flex-direction: column;
    
  }
  
  label {
    margin-bottom: 5px;
    -webkit-text-fill-color: black;
    font-weight: bold;
  }
  
  input[type="email"], input[type="password"] {
    -webkit-text-fill-color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    background-color: #00d1ff;
    color: white;
    padding: 10px 20px;
    
    width: 40%;
    -webkit-text-fill-color: black;
    border-radius: 120px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #9c1de7;
  }
  
  .error-message {
    color: #e60626;
    font-size: 20px;
    
    margin-bottom: 10px;
  }
  