/* Navbar.css */
.navbar {
    background: #3f3e3e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar-links:hover {
    background-color: #fff;
    color: #333;
    border-radius: 4px;
}

.active {
    border-bottom: 3px solid #01bf71;
}
